<!-- copy linkk from (https://codepen.io/Aricati/pen/KKwGBye)-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/homePage.css">
    <title>Home Page</title>
  </head>

  <body>

    <div class="form">

      <h2>Login</h2>

      <div class="input">

        <form action="/saveSignInToBase" method="post">

          <div class="inputBox">
            <label>Username</label>
            <input type="text" placeholder="enter your username here" name="username">
          </div>

          <div class="inputBox">
            <label>Password</label>
            <input type="password" placeholder="enter your password here" name="password">
          </div>

          <div class="inputBox">
            <input type="submit" value="Sign In">
          </div>

        </form>

      </div>

      <p class="forget">Registration:
        <a href="/passSignUpPage">Sign Up</a>
      </p>

    </div>

  </body>
</html>